html, body
  padding 0
  margin 0
  height 100%

$width = 640px
$height = 480px

.content
  margin-left auto
  margin-right auto
  position relative
  top 50%
  transform translateY(-50%)
  width $width
  height $height
  border 2px solid #ccc
  background: radial-gradient(ellipse at center, #ffffea 0%,#e8e8c6 38%,#97c7ad 68%,#0e5f47 100%);

.sea
  position relative
  top $height - 200px
  height 200px
  background-color #3E8059

.sand
  position relative
  top 100px
  height 100px
  background-color #E5CF89
